<configuration>
  <appSettings>
    <add key="AADOBAAppId" value="e7b11ff7-86e8-40c3-bbb2-fc0204965c3d" />
    <add key="AADOBAHomePage" value="http://oba-prod.cloudapp.net" />
    <add key="AADTenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AzureStorageConnectionString" value="kv:https://oba-dev-alec.vault.azure.net:443/secrets/AzureStorageConnectionString/957df04de5af4613ad7957bf9e6a2ac9" />
    <add key="EmbeddedSocialAdminUserHandle" value="3xZpyRqTpMz" />
    <add key="EmbeddedSocialAppKey" value="kv:https://oba-dev-alec.vault.azure.net:443/secrets/EmbeddedSocialAppKey/a0eb03f2016147eeb62b983e13cb40f6" />
    <add key="EmbeddedSocialUri" value="https://dev-alec.embeddedsocial.microsoft.com/" />
    <add key="KeyVaultUri" value="https://oba-dev-alec.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="OBAApiKey" value="kv:https://oba-dev-alec.vault.azure.net:443/secrets/OBAApiKey/57f8ba18dab7403aa56bbcd92e4cb5f3" />
    <add key="OBACertThumbprint" value="93DFB07CC4292C832F9E8BBDA21F878BD40EC1AC" />
    <add key="OBARegionsListUri" value="http://regions.onebusaway.org/regions-v3.xml" />
    <add key="SendGridEmailAddr" value="alecw@microsoft.com" />
    <add key="SendGridKey" value="kv:https://oba-dev-alec.vault.azure.net:443/secrets/SendGridKey/450b245cef654b3ba34d545510456294" />
    <add key="ServiceBusConnectionString" value="kv:https://oba-dev-alec.vault.azure.net:443/secrets/ServiceBusConnectionString/b2e98e3dbe9b4378b5b720ab23fa5d8f" />
    <add key="SigningKey" value="https://oba-dev-alec.vault.azure.net:443/keys/SigningKey/ab8ed162e87c4e20ab01da457d410c32" />
  </appSettings>
</configuration>
