<configuration>
  <appSettings>
    <add key="AADOBAAppId" value="e7b11ff7-86e8-40c3-bbb2-fc0204965c3d" />
    <add key="AADOBAHomePage" value="http://oba-prod.cloudapp.net" />
    <add key="AADTenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AzureStorageConnectionString" value="kv:https://oba-dev-sharad.vault.azure.net:443/secrets/AzureStorageConnectionString/607d4ad3b72843cf8ed070ad8ec24e7b" />
    <add key="EmbeddedSocialAdminUserHandle" value="41vU3_t4Usz" />
    <add key="EmbeddedSocialAppKey" value="kv:https://oba-dev-sharad.vault.azure.net:443/secrets/EmbeddedSocialAppKey/feb364789eb04e61b8cee6bd5d39c38a" />
    <add key="EmbeddedSocialUri" value="https://dev-sharad.embeddedsocial.microsoft.com/" />
    <add key="KeyVaultUri" value="https://oba-dev-sharad.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="OBAApiKey" value="kv:https://oba-dev-sharad.vault.azure.net:443/secrets/OBAApiKey/5bb81360fded4915829863d4a48409f7" />
    <add key="OBACertThumbprint" value="93DFB07CC4292C832F9E8BBDA21F878BD40EC1AC" />
    <add key="OBARegionsListUri" value="http://regions.onebusaway.org/regions-v3.xml" />
    <add key="SendGridEmailAddr" value="sagarwal@microsoft.com" />
    <add key="SendGridKey" value="kv:https://oba-dev-sharad.vault.azure.net:443/secrets/SendGridKey/c6b1cd12d386486794e358748f56020b" />
    <add key="ServiceBusConnectionString" value="kv:https://oba-dev-sharad.vault.azure.net:443/secrets/ServiceBusConnectionString/b8e672a3261046bcb61c47648a636c83" />
    <add key="SigningKey" value="https://oba-dev-sharad.vault.azure.net:443/keys/SigningKey/a92a8688df5b477283dae2a3e3b25fb0" />
  </appSettings>
</configuration>
