<configuration>
  <appSettings>
    <add key="AADOBAAppId" value="e7b11ff7-86e8-40c3-bbb2-fc0204965c3d" />
    <add key="AADOBAHomePage" value="http://oba-prod.cloudapp.net" />
    <add key="AADTenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AzureStorageConnectionString" value="kv:https://oba-ppe.vault.azure.net:443/secrets/AzureStorageConnectionString/d9af27f393854b5b8dd1d55d34d7ccbb" />
    <add key="EmbeddedSocialAdminUserHandle" value="41q9UoSvxFC" />
    <add key="EmbeddedSocialAppKey" value="kv:https://oba-ppe.vault.azure.net:443/secrets/EmbeddedSocialAppKey/48c9de1769c7480d8438b169198a71a5" />
    <add key="EmbeddedSocialUri" value="https://ppe.embeddedsocial.microsoft.com/" />
    <add key="KeyVaultUri" value="https://oba-ppe.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="OBAApiKey" value="kv:https://oba-ppe.vault.azure.net:443/secrets/OBAApiKey/70a4db651b63495dad3202bfbd855a80" />
    <add key="OBACertThumbprint" value="93DFB07CC4292C832F9E8BBDA21F878BD40EC1AC" />
    <add key="OBARegionsListUri" value="http://regions.onebusaway.org/regions-v3.xml" />
    <add key="SendGridEmailAddr" value="socialplusops@microsoft.com" />
    <add key="SendGridKey" value="kv:https://oba-ppe.vault.azure.net:443/secrets/SendGridKey/37d345c8632e42b4b922e0b9de3bfcc0" />
    <add key="ServiceBusConnectionString" value="kv:https://oba-ppe.vault.azure.net:443/secrets/ServiceBusConnectionString/7d2d6c6a57514a93ad60c2883ce33c23" />
    <add key="SigningKey" value="https://oba-ppe.vault.azure.net:443/keys/SigningKey/31893d484ff449c3b4d6e5a820b6e73e" />
  </appSettings>
</configuration>
