<configuration>
  <appSettings>
    <add key="AADOBAAppId" value="e7b11ff7-86e8-40c3-bbb2-fc0204965c3d" />
    <add key="AADOBAHomePage" value="http://oba-prod.cloudapp.net" />
    <add key="AADTenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="AzureStorageConnectionString" value="kv:https://oba-prod.vault.azure.net:443/secrets/AzureStorageConnectionString/1c5d1ed25f214db88336d6f08910a890" />
    <add key="EmbeddedSocialAdminUserHandle" value="41q9zwxl7zB" />
    <add key="EmbeddedSocialAppKey" value="kv:https://oba-prod.vault.azure.net:443/secrets/EmbeddedSocialAppKey/f95418c5355f4815be8766f215a51e69" />
    <add key="EmbeddedSocialUri" value="https://api.embeddedsocial.microsoft.com/" />
    <add key="KeyVaultUri" value="https://oba-prod.vault.azure.net" />
    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="OBAApiKey" value="kv:https://oba-prod.vault.azure.net:443/secrets/OBAApiKey/93793fe75dfa44fe84f1eb72507a1372" />
    <add key="OBACertThumbprint" value="93DFB07CC4292C832F9E8BBDA21F878BD40EC1AC" />
    <add key="OBARegionsListUri" value="http://regions.onebusaway.org/regions-v3.xml" />
    <add key="SendGridEmailAddr" value="socialplusops@microsoft.com" />
    <add key="SendGridKey" value="kv:https://oba-prod.vault.azure.net:443/secrets/SendGridKey/6d1cdab2b3bf4855875bbe11684b5697" />
    <add key="ServiceBusConnectionString" value="kv:https://oba-prod.vault.azure.net:443/secrets/ServiceBusConnectionString/5956662a774742e3b9fd0450863e5a05" />
    <add key="SigningKey" value="https://oba-prod.vault.azure.net:443/keys/SigningKey/76cdbcd9dbca459db6465bbc7f9a7178" />
  </appSettings>
</configuration>
